*{
  box-sizing: border-box
}

.tiles-box{
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.tiles{
  display: flex;
  flex-flow: row;
  width: 425px;
  flex-wrap: wrap;
  margin: 1% auto;
}

.tile-box{
  position: relative;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin: 5px 5px;
  overflow: hidden;
  box-shadow: 0px 4px 10px 1px rgba(0,0,0,0.9);
}

.closed{
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s;
}

.opened{
  transform: rotateY(0deg);
  transition: transform 1s;
}

.wide{
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
}

.tall{
  position: absolute;
  z-index: -1;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
}


